{{ define "main" }}
<html lang="pt-br">
  <head>
      
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/indexpv.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35686586-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-35686586-6');
</script>

    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '570744626930558');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=570744626930558&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  
  <!-- OptimizePress SEO options -->
  <title>Método PM</title>
  <meta name="description" content="PRODUZA SEU CURSO ONLINE EM MENOS DE 30 DIAS Mesmo sem ser um Expert em Marketing Digital e comece a vender seu conhecimento através da Internet" />
  <meta name="keywords" content="como criar um produto digital, como produzir um curso online, como criar um infoproduto, criar um produto na hotmart, criar um produto na monetizze, como ser produtor digital, como criarum curso digital, criar curso online do zero, produzir curso online do zero, curso para criar um curso online, curso para criar um produto digital" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://produtormilionario.com.br/pv/" />
  <meta property="og:title" content="Método PM" />
  <meta property="og:description" content="PRODUZA SEU CURSO ONLINE EM MENOS DE 30 DIAS Mesmo sem ser um Expert em Marketing Digital e comece a vender seu conhecimento através da Internet" />
  <meta property="og:image" content="https://produtormilionario.com.br/pv/img/pm.jpeg" />
  <!-- OptimizePress SEO options end -->

  </head>
  <body>

<!-- Dobra 1 -->
<section >
  <div class="container-xl">
    <div class="row mt-5">

      <div class="col-12 col-md-4">
        <div class="row">
            
          <div class="col-12 ">
            <h1 class="text-60 text-uppercase tw800 theight text-md-right text-center">Produza seu <span class="text-green">Curso Online</span> sem saber Mkt Digital</h1>
          </div>
        </div>
        
      </div>

      <div class="col-12 col-md-8 mt-3 mt-md-0">
        <div class="">
          <div class="embed-responsive embed-responsive-16by9 rounded-lg ">
            <iframe class= "rounded-20 embed-responsive-item" src="https://player.vimeo.com/video/459823752"></iframe>
          </div>
        </div>
      </div>
  
      <div class="col-12 text-center">
        <p class="text-24 pt-3 theight-normal">Crie seu Curso Online do Zero e comece a vender <span class="text-green"><b>o seu conhecimento</b></span> através da Internet</p>
      </div>


    <!-- daniel -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center text-18">
        <div class="p-3  rounded-10" style="border: 3px white dotted;">
          <p>Meu nome é <span class="text-green tw700">Daniel Domingues</span> e eu já produzi <span class="text-green tw700">mais de 30 produtos digitais</span> sobre nichos nos quais não sou especialista. Juntos, esses produtos já geraram mais de <span class="text-green tw700">2 milhões de reais em vendas em apenas um ano e</span>, sem exagero, mudaram a minha vida.</p>
          <p>Agora, resolvi compartilhar com você tudo o que aprendi sobre o assunto e revelar o meu famoso Método PM, um passo-a-passo exclusivo que permitirá que você lance o seu <span class="text-green tw700">primeiro curso online sem que você seja especialista em marketing digital </span> e alcance resultados tão bons quanto os que eu alcancei.</p>
        </div>
      </div>
    </div>
  </div>
</section>  

    </div>
  </div>
</section>

<section class="bg-gotas-white"></section>

  
<!-- Pra quem é o metodo -->
<section class="bg-white">
  <div class="container">
    <div class="row  text-blue">
      
      <div class="col-12 text-center my-5">
        <p class=" theight-normal text-30 tw800 ">Para quem o Método <span class="text-green">PM</span> é indicado?</p>
        <p class="text-24 tw500">O Método PM é perfeito para quem:</p>
      </div>

      <div class="col-12 d-flex flex-column justify-content-center align-items-center mb-3">	
       

        <div class="d-flex justify-content-center align-items-center p-3 rounded-lg mb-3" style="max-width: 800px; border: 3px #080e1e dotted;">
          <img class="mr-3" src="img/tick.png">
          <span class="text-24 tw700">Tem uma ideia e deseja transformá-la em produto digital</span>
        </div>
        
        <div class="d-flex justify-content-center align-items-center p-3 rounded-lg mb-3" style="max-width: 800px; border: 3px #080e1e dotted;">
          <img class="mr-3" src="img/tick.png">
          <span class="text-24 tw700">Tem um curso presencial e gostaria de transformá-lo em um curso online</span>
        </div>
        
        <div class="d-flex justify-content-center align-items-center p-3 rounded-lg mb-3" style="max-width: 800px; border: 3px #080e1e dotted;">
          <img class="mr-3" src="img/tick.png">
          <span class="text-24 tw700">Quer descobrir como criar um produto do zero (mesmo sem ter uma ideia)</span>
        </div>
        
        <div class="d-flex justify-content-center align-items-center p-3 rounded-lg mb-3" style="max-width: 800px; border: 3px #080e1e dotted;">
          <img class="mr-3" src="img/tick.png">
          <span class="text-24 tw700 theight-normal">É afiliado e deseja aumentar os seus ganhos em mais de 11x</span>
        </div>
        
      </div>

      <div class="col-12 text-center mb-5 mt-md-5 d-flex flex-column justify-content-center align-items-center ">
        <p class="text-30 tw800 theight-normal" style="max-width: 500px;">Para quem o Método PM <span class="text-green">NÃO</span> é indicado?</p>
        <p class=" text-24 theight-normal ">Para quem acha que precisa ser ou conhecer alguém famoso ou ter milhares de seguidores nas redes sociais para criar um produto digital.</p>
      </div>

    </div>
  </div>
</section>


<!-- Botão Compra -->
<section>
  <div class="container-fluid bg-white">
    <div class="row">
      
      <div class="col-12 d-flex justify-content-center" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight text-uppercase stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480">O Método PM é para mim!</a>
        </div>
      </div>

      <div class="col-12 text-center mt-4 mb-5">
        <img src="img/compra-segura_.png" class="mw-100">
      </div>
    </div>

  </div>
</section>
 <!-- Video Depoimento -->
<section>
  <div class="container">
    <div class="row">
        
  
        
      <div class="col-12 text-center text-24 theight-normal py-5 ">
        Mesmo sem fama e milhares de seguidores na internet, eles conseguiram produzir os <b class="text-green">seus próprios infoprodutos</b> e lançar os seus primeiros <b class="text-green">Cursos Online</b> com o <b class="text-green">Método PM</b>:
      </div>
      
      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/449953082"></iframe> 
        </div>
        <p class="pt-3 text-13 text-center"><b>Imperatriz</b> - Produtora Digital</p>
      </div>

      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/447604361"></iframe>
        </div>
        <p class="pt-3 text-13 text-center"><b>Robert</b> - Produtor Digital</p>
      </div>

      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/439068896"></iframe>
        </div>
        <p class="pt-3 text-13 text-center"><b>Yago Silva</b> - Produtor Digital</p>
      </div>
      
      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/439064043"></iframe>
        </div>
        <p class="pt-3 text-13 text-center"><b>Sérgio Ribeiro</b> - Produtor Digital</p>
      </div>
      
      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/437281978"></iframe>
        </div>
        <p class="pt-3 text-13 text-center"><b>Allan Torquato</b> - Produtor Digital</p>
      </div>
      
      <div class="col-md-6 p-3 p-md-1">
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class= "embed-responsive-item" src="https://player.vimeo.com/video/455655239"></iframe>
        </div>
        <p class="pt-3 text-13 text-center"><b>Luciana</b> - Produtora Digital</p>
      </div>
      
    </div>
  </div>
</section>


  <!-- Botão Compra -->


<section>
  <div class="container">
    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480"><span>SIM</span>, QUERO PRODUZIR O MEU PRODUTO DIGITAL</a>
        </div>
      </div>

      <div class="col-12 text-center mt-4">
        <img src="img/compra-segura.png" class="mw-100">
      </div>
    </div>
  </div>
</section>

<!-- Se você é afiliado -->

<section>
  <div class="container">
    <div class="row px-3">
      <div class="col-12 text-center rounded-10 py-5 text-18" style="border: 3px white dotted;">
        <p class="text-24 tw800 text-green theight-normal">Se você ainda não tem o seu curso online, sinto de dizer:<br>Mas você está a um passo atrás da sua concorrência</p>
        <p class="text-left px-3 text-18 text-center text-md-left">Estar posicionado no mundo digital atualmente não é mais uma opção, é requisito básico para quem quer se manter ativo no mercado</p>
        <p class="text-left px-3 text-18 text-center text-md-left" >Você já imaginou ter seu curso online criado em menos de 30 dias e disponibilizado para para o mercado de afiliados e ter seu produto ou serviço vendo por milhares de vendedores , todos os dias ?</p>
        <p class="text-left px-3 text-18 text-center text-md-left" >Sim, isso  possível e é exatamente o que você irá aprender no método PM</p>
        <p class="text-left px-3 text-18 text-center text-md-left" >O Curso  “Método PM”, uma série de videoaulas diretas ao ponto e que vão te dar TODOS os passos que você precisa para produzir o seu curso online menos de 30 dias mesmo sem conhecer quase nada de marketing digital</p>
      </div>
    </div>
  </div>
</section>

<!-- Botão Compra -->
<section>
  <div class="container">
    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight text-uppercase stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480">Quero lançar o meu Curso e ganhar mais!</a>
        </div>
      </div>
  
      <div class="col-12 text-center mt-4">
        <img src="img/compra-segura.png" class="mw-100">
      </div>
    </div>
  </div>
</section>

<!-- daniel -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center text-18">
        <p class="">O Método PM é o <span class="text-green tw700"> ÚNICO método</span> que permite que você lance um Curso Online <span class="text-green tw700">mesmo sem ser expert em Marketing Digital</span></p>

      </div>
    </div>
  </div>
</section>

<!-- Botão Compra -->
<section>
  <div class="container">
    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center" >
      </div>
  
    </div>
  </div>
</section>

<!-- Como posso garantir -->

<section>
  <div class="container">
    <div class="row">
      <div class="col text-center text-18">
        <p class="text-24 tw800 text-green">Como eu posso GARANTIR que o Método PM funcionará para você</p>
        <p>Até janeiro de 2019, eu poderia me descrever como um analista de sistema que trabalhava o mês inteiro e só recebia o suficiente para pagar as contas.</p>
        <p>Se você é assalariado, sabe muito bem do que estou falando. Eu estava há 17 anos trabalhando em empresas e estava cansado de ver o RESULTADO do meu suor ir direto pro bolso do meu chefe ao final de cada mês.</p>
        <p>Foi apenas em janeiro de 2019 que esse cenário começou a mudar.</p>
        <p>Depois de conversar com um amigo , que já atuava no marketing digital, percebi que também queria aquela vida pra mim e comecei a criar meus primeiros cursos online do absoluto zero, na cara e na coragem.</p>
        <p>Em menos de três meses, eu já tinha feito algumas dezenas de vendas pela internet, e alguns meses depois, meu primeiro curso online criado seria responsável por mais de 1 milhão e meio em vendas.</p>
        <p>Se eu, que não sabia nada de marketing digital e tinha apenas algumas horas livres no meu dia, consegui, garanto que você também pode.</p>
      </div>
    </div>
  </div>
</section>

<!-- Confira tudo  -->
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center pb-2 pt-5">
        <p class="text-30 tw800 theight-normal">Confira tudo o que você vai receber ao adquirir o Método PM:</p>
        <p class="text-24 text-green"> Curso 100% em Vídeo Aulas com + de 6 Horas de Duração</p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide pb-5" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="text-center">
                <img src="./img/imac.png" width="150">
                <p class="text-30 text-center mt-5 theight-normal">Módulo 1 - <b>Concepção do Produto</b></p>
                <p><img src="./img/tick.png" width="25"> Conceitos de Marketing Digital e Termos Técnicos que todo produtor precisa saber</p>
                <p><img src="./img/tick.png" width="25"> Os Tipo de Infoprodutos existente na atualidade</p>
                <p><img src="./img/tick.png" width="25"> Como Trabalhar a sua Mente para Identificar Problemas a serem Resolvido</p>
                <p><img src="./img/tick.png" width="25"> Como Definir o Nome do Produto, o Preço e Promessa de Venda</p>
                <p><img src="./img/tick.png" width="25"> Como Criar Infoprodutos Rantáveis Sem Conhecer Absolutamente nada do Nicho</p>
              </div>
            </div>

            <div class="carousel-item">
              <div class="text-center">
                <img src="./img/imac.png" width="150">
                <p class="text-30 text-center mt-5 theight-normal">Módulo 2 - <b>Execução na Prática</b></p>
                <p><img src="./img/tick.png" width="25"> Como Criar uma Página de Vendas Que Converte</p>
                <p><img src="./img/tick.png" width="25"> Como Criar o Video da Página de Vendas</p>
                <p><img src="./img/tick.png" width="25"> Como Automatizar Geração de Certificado de Conclusão</p>
                <p><img src="./img/tick.png" width="25"> Material de Apoio e Grupo do Whatsapp</p>
                <p><img src="./img/tick.png" width="25"> Cadastrando seu Produto na Plataforma</p>
                <p><img src="./img/tick.png" width="25"> Ativando o Programa de Afiliação</p>
                <p><img src="./img/tick.png" width="25"> Configurando o Checkout</p>
                <p><img src="./img/tick.png" width="25"> 2 Estratégias Matadoras para Aumentar Seu Ticket Médio</p>
                <p><img src="./img/tick.png" width="25"> Fazendo Integração com Email Marketing</p>          
                <p><img src="./img/tick.png" width="25"> Ferramentas Úteis de um Produtor Digital</p>          
                <p><img src="./img/tick.png" width="25"> Integrando com Email Marketing</p>          
              </div>
            </div>

            <div class="carousel-item">
              <div class="text-center">
                <img src="./img/imac.png" width="150">
                <p class="text-30 text-center mt-5 theight-normal">Módulo 3 - <b>Gerenciamento do Produto e Melhoria Contínua</b></p>
                <p><img src="./img/tick.png" width="25"> A Importância de Delegar para Crescer</p>
                <p><img src="./img/tick.png" width="25"> Estrutura Própria para Afiliados</p>
                <p><img src="./img/tick.png" width="25"> Recuperação de Boletos ( Teoria )</p>
                <p><img src="./img/tick.png" width="25"> Recuperação de Boletos ( Prática)</p>
                <p><img src="./img/tick.png" width="25"> Estratégias de Parcerias Ganha x Ganha</p>
                <p><img src="./img/tick.png" width="25"> Emissões de Notas Fiscais Automatizadas</p>
                <p><img src="./img/tick.png" width="25"> Programas de Incentivo ao Afiliado</p>
                <p><img src="./img/tick.png" width="25"> Estratégia Reembolso Zero</p>
                <p><img src="./img/tick.png" width="25"> Suporte ao Afiliado e ao Cliente</p>
                <p><img src="./img/tick.png" width="25"> O Choque de Realidade que você precisa saber para se Destacar</p>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bonus 1  -->

<section>
  <div class="container">
    <div class="row mt-5 py-5 rounded-10">

      <div class="col-12 text-center my-5">
        <p class="text-30 mb-0 text-green"><b>Aulas Bônus</b></p>
      </div>

      <div class="col-12 text-center mb-3 py-5 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.3);">
        <div>
          <img src="./img/fernanda.jpg" class="rounded-circle" width="180">
        </div>
        <div class="text-left ml-5">
          <p><span class="text-green text-24"><b class="text-white">Aula: </b> Técnicas de Oratória para Gravação de Vídeos</span></p>
          <p class="mb-0">c/ <b>Fernanda Sanches</b></p>
          <p class="mb-0">Atriz , Apresentadora , Locutora e Criadora da escola Aprenda a Falar em Público</p>
        </div>
      </div>

      <div class="col-12 text-center mb-3 py-5 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.3);">
        <div>
          <img src="./img/andre.jpg" class="rounded-circle" width="180">
        </div>
        <div class="text-left ml-5">
          <p><span class="text-green text-24"><b class="text-white">Aula: </b> Técnicas e Dicas para Gravação do seu Curso</span></p>
          <p class="mb-0">c/ <b>André Elias</b></p>
          <p class="mb-0">Fotógrafo e Video Maker</p>
        </div>
      </div>

    </div>
      








    </div>
  </div>
</section>



<!-- Bonus 2  -->


<section>
  <div class="container">
    <div class="row text-blue">

      <div class="col-12 text-center text-24 mt-5 text-white">
        <p>E Mais <b>4 Incríveis Bônus:</b></p>
      </div>
      
      
      <div class="col-12 col-md-3 text-center pb-2 pb-md-0">
        <div class="row px-1">
          <div class="bg-success  rounded-10 text-center">
            <p class="m-0 py-3 text-white"><b>Bônus 1</b></p>
            <div class="bg-white"> <img class="mt-5 mb-3" src="img/ebook.png" width="120px" ></div>
            <p class="bg-white m-0 py-5 px-3 myrounded-base ">Além de todas as aulas, você também receberá um livro digital para te ajudar nessa empreitada. São mais de 35 páginas cheias de teoria e com dicas preciosas para quem quer ir ainda mais longe. O Guia PM, é um Guia Rápido no qual você pode usar como referência e pesquina no dia a dia do planejamento e criação do seu curso online</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-3 text-center pb-2 pb-md-0">
        <div class="row px-1">
          <div class="bg-success  rounded-10 text-center">
            <p class="m-0 py-3 text-white"><b>Bônus 2</b></p>
            <div class="bg-white myrounded-base"> <a href="https://centralizze.com.br" target="_blank"><img class="mt-5 mb-1 " src="img/centralizze.png"></a>
              <p class="text-12 px-3">Estrutura Própria para Afiliados</p>
              <p class="px-3">Este Bônus <b> PRATICAMENTE paga o seu curso</b>, pois você irá ganhar uma assinatura do <b>plano VIP da Centralizze por 3 meses,</b> o que te custaria se você não fosse meu aluno, R$ 239,70.</p>
              <p class="px-3 m-0 pb-5"> É isso mesmo que você leu, só esse bônus vale praticamente o próprio curso que você está adquirindo. APROVEITE esse benefício SÓ VALE PRA HOJE E PRA QUEM AINDA NÃO É ASSINANTE !</p></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 text-center pb-2 pb-md-0">
        <div class="row px-1">
          <div class="bg-success  rounded-10 text-center">
            <p class="m-0 py-3 text-white"><b>Bônus 3</b></p>
            <div class="bg-white myrounded-base">
              <img src="./img/calendar.png" class="pt-5">
              <p class="p-3  m-0"><b>Plano de Ação #VocêProdutorDeSucesso</b><br><br>
                Esqueça aqueles cursos com muita teoria e pouca prática.<br><br> O que realmente faz a diferença no Método PM é a execução. <br><br>Por isso, preparei um calendário a prova de desculpas para você saber exatamente quais aulas assistir e o que fazer ao longo de cada um dos 30 dias. Este Literamente é um CRONOGRAMA A PROVA DE DESCULPAS</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 text-center pb-2 pb-md-0">
        <div class="row px-1">
          <div class="bg-success  rounded-10 text-center">
            <p class="m-0 py-3 text-white"><b>Bônus 4</b></p>
            <div class="bg-white myrounded-base">
              <img src="./img/rocket.png" class="pt-5">
              <p class="p-3  m-0 "><b>Seu Curso Divulgado Para Mais de 90 mil pessoas Gratuitamente</b><br><br>
              Nada mais justo do que reconhecer os melhores alunos com o que realmente importa: vendas. <br> O Melhor aluno de cada mês do curso que seguir o Método PM e lançar um produto no período de 30 dias terá o seu Curso Online divulgado gratuitamente por mim para mais de 90 mil vendedores . <br><br> É o incentivo que todo produtor iniciante quer, mas não encontra por aí. Realmente esse Bônus tem valor inestimável!</p>
            </div>
          </div>
        </div>
      </div>



    </div>

  
  </div>
</section>

<section class="" id='oportunidade'>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-12 text-center mt-5 ">
          <p class="text-30 tw700 theight-normal">Uma <span class="text-green">oportunidade</span> única:</p>
          <p class="text-24 theight-normal">No método PM você irá Aprender Tudo o que precisa saber para criar seu Curso Online do zero e começar a vender na internet! </p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-gotas-green"></section> -->

<!-- Oferta -->
<!-- <section class="bg-green py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 text-center text-30 text-blue">
        <p class="m-0">de <b><s>997,00</s></b></p>
        <p class="">por apenas <b>12x</b> de</p>
        <span class="bg-blue text-white px-4 py-2 rounded-pill text-60 tw700"><span class="text-30">R$</span> 49,90</span>
        <p class="text-24">ou <b>497,00</b> à vista </p>
      </div>

      <div class="col-12 d-flex justify-content-center mt-3" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight text-uppercase stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480" target="_blank">Quero Faturar Alto com meu Curso Online</a>
        </div>
      </div>
  
      <div class="col-12 text-center mt-4">
        <img src="img/compra-segura_.png" class="mw-100">
      </div>

      <div class="col-12 text-center pt-5">
        <p class="text-center text-blue tw700">APROVEITE, PROMOÇÃO<br>POR TEMPO LIMITADO !</p>
      </div>
    
      <div class="col-12 text-blue d-flex justify-content-center pb-5">
        <div class="text-center py-3 px-3 mr-2 rounded-10" style="width:140px; border: solid 4px #080e1e;">
          <p class="m-0 text-60 tw700 theight ts1n" style="line-height: 0.9;" id="minutes">12</p>
          <p class="m-0 tw700 ts18">minutos</p>
        </div>
    
        <div class="text-center py-3 px-3 rounded-10" style="width:140px; border: solid 4px #080e1e;">
          <p class="m-0 text-60 tw700 theight ts1n" style="line-height: 0.9;" id="seconds">31</p>
          <p class="m-0 tw700 ts18">segundos</p>
         </div>
      </div> 

      <div class="col-12 text-center text-blue text-20 theight-normal">
        <p><b>Agora a decisão está com você : Vai continuar necessitando da sua presença física para granhar dinheiro ou vai entrar para o mercado digital onde a internet trabalha por você enquanto você vive a vida que você realmente sempre sonhou ?</b></p>
      </div>

    </div>

  </div>
</section> -->

<!-- Uma Semana -->

<section>
  <div class="container">
    <div class="row mt-5">
      
      <div class="col-12 d-flex justify-content-center mb-5" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight text-uppercase stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480" target="_blank">Quero Criar o meu Curso Online</a>
        </div>
      </div>
      
      <div class="col-12 mb-5 text-center">
        <p class="text-24 theight-normal">Te convido a elevar o seu Termostato Financeiro e <b class="text-green">parar de limitar os seus resultados</b>. Caso você perceba nos próximos 7 dias que o Método PM não é perfeito para você, basta solicitar o cancelamento e receber de volta todo o seu dinheiro. Simples assim.</p>
      </div>
    </div>
  </div>
</section>


<!-- Botão Compra -->
<!-- <section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 d-flex justify-content-center" >
        <div class="botao p-3 rounded-lg text-center">
          <a class="text-reset text-decoration-none text-btn tw800 theight text-uppercase stretched-link"  href="https://app.monetizze.com.br/checkout/KQK137480">Sim! Quero adquirir o Método PM</a>
        </div>
      </div>
  
      <div class="col-12 text-center mt-4">
        <img src="img/compra-segura.png" class="mw-100">
      </div>
    </div>
  </div>
</section> -->

<!-- Daniel -->
<section >
  <div class="container">
    <div class="row">
      <div class="col text-center my-5">
        <img  class="rounded-circle pb-4 " src="img/daniel2.jpg" alt="" width="150px">
        <p><b class="text-24">Daniel Domingues</b><br>Método PM</p>
        <div>
          <a href="https://www.instagram.com/produtormilionario/" target="_blank"> <img src="./img/ico-insta.png" class="px-1" width='50'></a>
          <a href="https://www.instagram.com/produtormilionario.com.br/" target="_blank"><img src="./img/ico-insta.png" class="px-1" width='50'></a>
          <a href="https://www.facebook.com/produtormilionario.com.br/" target="_blank"> <img src="./img/ico-face.png" class="px-1" width='50'></a>
          <a href="https://www.youtube.com/c/ProdutorMilion%C3%A1rioDanielDomingues/featured" target="_blank"> <img src="./img/ico-youtube.png" class="px-1" width='50'></a>
          <a href="https://wa.me/5511985580485?text=Olá, Estou no site do Método PM e tenho uma dúvida..." target="_blank"><img src="./img/ico-whats.png" class="px-1" width='50'></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background: #060b17;">
  <div class="container">
    <div class="row py-5">
      <div class="col text-center">
        <p><b>Observação:</b> todos os exemplos aqui citados são reais. Apesar disso, os resultados obtidos a partir da realização do curso online pode variar de pessoa para pessoa. </p>
        <p class="pt-5 text-13">Política de Privadade<span class="text-green"><b>&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp</b></span>Termo de Uso<span class="text-green"><b>&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp</b></span>Desenvolvido pela <b>Centralizze</b></p>
      </div>
    </div>
  </div>
</section>










































    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="./js/count.js"></script>
  </body>
</html>

{{ end }}
